
body {
    margin: 0%;
    height: 1000px;
    background-color: #FBFBFB;
    }

/*Main head*/

#head {
    background-color: #CE0505;
    height: 80px;
    width: 1366px;
    margin: 0%;
    }

#company-logo {
    height: 52px;
    width: 52px;
    position: absolute;
    top: 15px;
    bottom: 13p;
    left: 102px;
    }

#login {
    margin: 0%;
    position: absolute;
    top: 12px;
    bottom: 28px;
    right: 308px;
    left: 1015px;
    font-family: 'Poppins', sans-serif;
    color: white;
    }

#creat-account {
    color: white;
    border: 1px solid white;
    margin-left: 0px;  
    width: 181px;
    height: 46px;
    display: inline;
    position: absolute;   
    top: 17px;
    left: 1084px;
    right: 101px;
    bottom: 17px;   
    opacity: 100%;
    }

#creat-account p {
    margin: 0%;
    position: absolute;
    top: 12px;
    bottom: 11px;
    right: 14px;
    left: 15px;
    font-family: 'Poppins', sans-serif;  
    }

/*FIlter section*/

.sub {
    position: absolute;
    top: 17px;
    margin: 0%;
}

.content .select {
    position: absolute;
    top: 52px;
    bottom: 610px;
    right: 127;
    height: 20;
    width: 200px;
    margin: 0%;
    }

#main #location {
    position: absolute;
    top: 83px;
    bottom: 564px;
    left: 27px;
    right: 25px;
    width: 208px;
    height: 35px;
    border: 1px solid #192F60;
    border-radius: 3px;
    }


#place {
    color: #192F60 ;
    position: relative;
    left: 113px;
    font-family:  'Poppins', sans-serif;
    font-weight: bold;
    font-size: 36px;
    }

#main {
    background-color: rgb(241, 241, 241);
    width: 260px;
    height: 682px;
    display: inline-block;
    position: relative;
    left: 113px;
    top: 195;
    box-shadow: 3px 3px 5px #e2e2e2;
    }

.sub {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #192F60 ;
    position: relative;
    left: 26px;
    top: 17px;
    }

.select, #location, .check, .check1, .price, .cost, .kitchen {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    justify-content: left;
    position:relative;
    left: 27px;
    }

.kitchen{
    position: absolute;
    top: 140px;
    bottom: 522px; 
    margin: 0%;
    }

.check{
    width: 200px;
    position: absolute;
    top: 175px;
    bottom: 487px;
    }

.check input{
 margin: 2% 2% 5% 0%;   
    }

.check label{
    margin: 2% 5% 5% 2%; 
    }

.select, .cost {
    color: #192F60;
    }

#location, .check, .check1, .price {
    color: #8C96AB;
    }

.cost {
    position: absolute;
    top: 349px;
    bottom: 313px;
    margin-left: 2px;
    }

.check1 {
    position: absolute;
    top: 384px;
    width: 200px;
    height: 500px;
    margin-left: 0%;
    }

.check1 input { 
 margin: 2% 2% 5% 0%;   
    }

.check1 label {
    margin: 2% 5% 5% 2%; 
    }

.sort {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #192F60 ;
    position: absolute;
    left: 26px;   
    top: 561px;
    }

.price {
    width: 200px;
    position: absolute;
    top: 601px;
    left: 27px; 
    }
    
.price input {
    margin: 5% 2% 5% 0%;   
    }

.price label {
    margin: 5% 5% 5% 2%; 
    }

.content {
    text-align: left;
    display: inline-block; 
    position:absolute;
    }


/*Food Section*/

#foodone {
    background-color: rgb(241, 241, 241);
    box-shadow: 3px 3px 5px #e2e2e2;
    height: 291px;
    width: 794px;
    display: inline-block;
    position: relative;
    left: 300px;
    top: 0%;
    }

.foods {
    height: 120px;
    width: 120px;
    border: 2px salmon;
    border-radius: 10px;
    position: absolute;
    left: 35px;
    top: 25px;
    }

#chill {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #192F60;
    margin: 0%;
    position: absolute;
    left: 196px;
    top: 39px;
    }

.p1 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #192F60;
    position: absolute;
    margin: 0%;
    left: 201px;
    top: 87px;
    }

.p2 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #192F60;
    margin: 0%;
    position: absolute;
    left: 201px;
    top: 115px;
    }

hr {
    position: relative;
    top:170px;
    border-width: 1px;
    width: 710px;
    opacity: 50%;
    }   


table {
    position: absolute;
    left: 35px;
    top: 200px;
    }

td {
        padding: 3px 45px 3px 0px;
        font-size: 16px;  
    }

.t1 {
    font-family: 'Poppins', sans-serif;  
    color: #636F88;
    }

.t2 {
    font-family: 'Poppins', sans-serif;  
    color: #192F60;
    }

#foodtwo {
    background-color: rgb(241, 241, 241);
    box-shadow: 3px 3px 5px #e2e2e2;
    height: 291px;
    width: 794px;
    display: inline-block;
    position: relative;
    left: 300px;
    top: 50px;
    }


table {
    position: absolute;
    left: 35px;
    top: 200px;
    }

td {
    padding: 3px 45px 3px 0px;
    font-size: 16px;  
    }

.t1 {
    font-family: 'Poppins', sans-serif;  
    color: #636F88;
    }

   .t2 {
    font-family: 'Poppins', sans-serif;  
    color: #192F60;
   }


   /*next page buttons*/

.page {
    position: absolute;
    left: 650px;
    top:849px;
    }

.pages {
    font-family: 'Poppins', sans-serif;
    color: #8C96AB;
    padding: 5 px;
    width: 24px;
    border: 1px solid #8C96AB;
    border-radius: 5px;  
    }


